* {
    margin: 0%;
    padding: 0%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    background-image: linear-gradient(rgb(242, 127, 127), rgb(95, 95, 243));
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    min-width: 200px;
}

form {
    padding: 1rem;
    text-align: center;
}

header div img {
    width: 100%;
    object-fit: cover;
}

.number {
    font-size: 1.5rem;
}

h2 {
    text-align: center;
    padding: 1rem;
    background-color: rgb(165, 223, 223);
}

article {
    padding: 1rem;
    background-image: url('./images/backGround.jpg');
    object-fit: cover;
    box-sizing: border-box;
}

#tasks {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.task {
    width: 100%;
    border-bottom: 1px solid rgb(243, 170, 170);
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;

}

button {
    background-color: rgb(240, 80, 80);
    width: 20px;
    height: 20px;
}
#msg {
    font-size: 1.5rem;
}
@media (min-width:575px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header img {
        display: none;
    }

    header h1 {
        display: contents;
        font-size: 2.2rem;
    }

    article {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    form input {
        font-size: 1rem;
    }

    header div,
    form {
        width: 100%;
        text-align: center;
    }

    .task {
        font-size: 1.5rem;
        width: 45%;

    }

    #tasks {
        box-sizing: border-box;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .number {
        font-size: 2.2rem;
    }

    input[type="text"] {
        border-radius: 10px;
        height: 2rem;
    }

    .task input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }
}